.circle {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
    align-items: center; 
}

.active {
    background-color: green;
}

.inactive {
    background-color: red;
}

.td-circle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.status{
    margin-left: 4px;
}

.header-client{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.green-box{
    color:white;
    font-weight: 500;
    width: 102px;
    height: 32px;
    background-color: #10C4B6;
    border-radius: 4px;
}

.search-field{
    width: 228px;
    height: 32px;
    border: 1px solid #D9D9D9;
}

.search-field:hover{
    border: 1px solid #0CC4B6;
}

.search-client{
    display: flex;
    align-items: center;
    width: 275px;
}

.display-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-name{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #262626;
}

.green-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EBF9F8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 4px;
}

a:visited{
    color: inherit;
}

th{
    font-weight: 500;
    color:#262626;
}
.td-nome{
    width: 90%;
}

.td-icons{
    width: 5%;
}

.margin-right{
    margin-right: 8px;
}

.header-client-end{
    display: flex;
    align-items: center;
}

.material-icons{
    font-size: 18px;;
    color: black;
}

.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: white;
    border: none;
    border-top: 1px solid #D9D9D9; 
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}

.icon-box:hover{
    border: 1px solid #0CC4B6;
}

.i-icon{
    font-size: 18px;
}

::placeholder {
    color: #BFBFBF;
    opacity: 1; /* Firefox */
}