<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header header-client"> 
                        <div class="display-center">
                            <span class="client-name">CLIENTES N123</span>
                            <span class="green-circle">3</span>
                        </div>
                        <div class="header-client-end">
                            <div class="search-client">
                                <input type="text" value="" class="search-field" placeholder="Buscar">
                                <button button class="icon-box" type="submit">
                                <i class="material-icons">search</i>
                                </button>
                            </div>
                            <div class="green-box display-center"><a class="nav-link" href=""><span class="margin-right">+</span> Cliente</a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="td-nome">
                                            NomeUm
                                        </td>
                                        <td class="td-circle">
                                            <span class="active circle"></span>
                                            <span class="status">Ativo</span>
                                        </td>
                                        <td class="td-icons">
                                            <div>
                                                <a href="javascript:void(0)"><i class="material-icons">call</i></a>
                                                <a href="javascript:void(0)"> <i class="material-icons">delete</i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >
                                            NomeDois
                                        </td>
                                        <td class="td-circle">
                                            <span class="inactive circle"></span>
                                            <span class="status">Desativado</span>
                                        </td>
                                        <td>
                                            <div>
                                                <a href="javascript:void(0)"><i class="material-icons">call</i></a>
                                                <a href="javascript:void(0)"> <i class="material-icons">delete</i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td class="td-circle">
                                            <span class="inactive circle"></span>
                                            <span class="status">Desativado</span>  
                                        </td>
                                        <td>
                                            <div>
                                                <a href="javascript:void(0)"><i class="material-icons">call</i></a>
                                                <a href="javascript:void(0)"> <i class="material-icons">delete</i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  