.ant-tabs-tab:hover {
  color: rgb(12, 196, 182);
}

.ant-tabs-tab-btn:active {
  color: rgb(12, 196, 182);
}

.colunas-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 2000px;
}

.grafico-um {
  padding: 16px 24px;
}

.container {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 600px) {
  .content {
    display: none;
  }
}