<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header header-client"> 
              <div class="display-center">
                  <span class="client-name">Novo Cliente</span>
                  <div class="header-line">
                    <div class="line-details"><span class="green-circle">1</span><span> Informações </span><div class="line"></div></div>
                    <div class="line-details"><span class="gray-circle">2</span><span> Relacionamentos</span><div class="line"></div></div>
                    <div class="line-details"><span class="gray-circle">3</span><span> Próximos passos </span></div>
                  </div>
              </div>
              <div class="ant-col ant-col-xs-24 ant-col-md-8" style="padding-left: 8px; padding-right: 8px;">
                <div class="ant-row ant-form-item" style="row-gap: 0px;">
                  <div class="ant-col ant-form-item-label">
                    <label for="client_name" class="ant-form-item-required" title="Nome fantasia">Nome fantasia</label>
                  </div>
                  <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                      <div class="ant-form-item-control-input-content">
                        <input type="text" id="client_name" class="ant-input" value="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>