.field-block{
  display: block;
  height: 40px;
}

.client-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.client-name{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #262626;
}

.green-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #17C7BA;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 4px;
  color: white;
}

.gray-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D9D9D9; 
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 4px;
}

.header-line{
  display: flex;
  align-items: center;
}

.line{
  width: 650px;
  border: 1px solid #D9D9D9;
}

.fields-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.fields-label{
  width: 184px;
  height: 22px;
}

.fields-size{
  width: 98%;
  height: 32px;
}

.vertical-line{
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0CC4B6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0CC4B6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.grid-color{
  background-color: #FAFAFA;
}

th{
  font-weight: 500;
  color:#262626;
}

.green-box{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-weight: 500;
  height: 32px;
  background-color: #10C4B6;
  border-radius: 4px;
}
.width-110{
  width: 110px;
}

.width-132{
  width: 132px;
}

.display-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-column{
  flex-direction: column;
  color: #BFBFC7;
}

.header-client-end{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-left{
  margin-left: 8px;
}

.margin-right{
  margin-right: 8px;
}

.margin-top{
  margin-top: 16px;
}

.client-name{
  font-size: 16px;
  font-weight: 500;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #262626;
}

a:visited{
  color: inherit;
}

.main-content{
  background-color: #F3F4F7;
}


@media screen and(max-width: 400px) {

  .line{
    width: 1px;
  }

  .fields-line{
    background-color: #262626;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
    margin-bottom: 60px;
  }

}