.sidebar-color{
    background-color: #04363D; 
}

.green-box{
    margin-left: 12.5%;
    width: 75%;
    background-color: #10C4B6;
}

.font-color{
    color:white !important
}

a:visited{
    color: inherit;
}

.search-field{
    width: 228px;
    height: 32px;
    color:#BFBFBF;
}

.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: white;
}

.material-icons{
    font-size: 18px;;
    color: black;
}