<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="input-group no-border header-client">
                            <h4 class="card-title ">Clientes</h4>
                            <input type="text" value="" class="form-control" placeholder="Buscar">
                            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            </button>
                            <div class="green-box"><a  class="nav-link" href="">+ Abrir novo ticket</a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            NomeUm
                                        </td>
                                        <td class="td-circle">
                                            <span class="active circle"></span>
                                            <span class="status">Ativo</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >
                                            NomeDois
                                        </td>
                                        <td class="td-circle">
                                            <span class="inactive circle"></span>
                                            <span class="status">Desativado</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td class="td-circle">
                                            <span class="inactive circle"></span>
                                            <span class="status">Desativado</span>                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  