/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.inner-content {
  background: #fff;
  min-height: 100vh;
}

.ant-btn-primary {
  border-color: #0EC4B6;
  background: #0EC4B6;
}

.ant-btn-primary:hover {
  border-color: rgb(46, 209, 190);
  background: rgb(46, 209, 190);
}

.ant-input:hover, .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover, .ant-btn:hover {
  border-color: rgb(46, 209, 190);
}

.ant-table-filter-trigger.active {
  color: #0EC4B6;
}
